/* VARIABLES */
$responsive-mobile: 480px;
$responsive-tablet: 768px;
$responsive-laptop: 992px;
$responsive-desktop: 1200px;
$container-width: 1180px;

$all-color: #4a4a4a;
$not-subscribers: #fdba59;
$trial: #4a90e2;
$subscribers: #85db5e;
$trial-canceled: #7460ee;
$canceled: #fe4d6f;
