.transactional-client-report {

	.users {
		padding: 20px;
	}

	.stat-panel {

		.active,
		.inactive {
			width: 150px;
			padding: 23px 20px 20px;
		}

		.changes {
			margin-bottom: 5px;
		}

		.inactive {

			.active-part {
				background: $not-subscribers;
				box-shadow: 0 0 6px 0 $not-subscribers;
			}
		}

		.status-line {
  		margin-top: 17px;
  		position: relative;
		
  		&:before {
  			display: block;
  			content: '';
  			width: 100%;
				height: 4px;
				border-radius: 100px;
	  		background-color: #efefef;	  		
  		}
		}

		.active-part {
			height: 4px;
			position: absolute;
			top: 0;
			left: 0;
			width: 51%;
		  border-radius: 100px;
		  background-color: $subscribers;
		  box-shadow: 0 0 6px 0 $subscribers;
		}
	}
}

.top-photos {
	display: flex;
	flex-wrap: wrap;
	width: 275px;
	background: #fff;

	.info {

		.info-icon {
			background: #fff;

			&:after {
				color: #9b9b9b;
			}
		}
	}

	.photo {
		overflow: hidden;
		position: relative;

		&:hover {
			img {
				transform: scale(1.1);
			}
		}

		img {
			display: block;
			width: 100%;
			transition: 0.3s;
			height: 100%;
			object-fit: cover;
		}
	}

	.top1 {
		width: 100%;
		height: 79px;
		border-radius: 4px 4px 0 0;
		margin-bottom: 1px;		

		.photo-data {
			padding: 10px 10px 15px 20px;

			.popularity {
				background: $not-subscribers;
			}

			.sales {

				span {
					font-size: 20px;
				}

				i {
					font-size: 12px;
				}
			}
		}
	}

	.top2 {
		width: 149px;
		height: 80px;
		margin-right: 1px;
		border-radius: 0 0 0 4px;

		.photo-data {
			padding: 10px 10px 10px 20px;
		}

		.popularity {
			background: $canceled;
		}
	}

	.top3 {
		width: 125px;
		height: 80px;
		border-radius: 0 0 4px 0;

		.photo-data {
			padding: 10px;
		}

		.popularity {
			background: $trial-canceled;
		}
	}

	.photo-stat {
		display: flex;
		align-items: baseline;
		justify-content: space-between; 
	}

	.photo-data {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 10px;
		  font-weight: bold;
		  line-height: 1;
		  letter-spacing: 0.4px;
		}

		.popularity {
			font-size: 10px;
		  font-weight: bold;
		  line-height: 1;
		  letter-spacing: 0.4px;
		  padding: 2.5px 5.1px;
		  border-radius: 100px;
		}
	}

	.sales {

		span {
			font-size: 14px;
		  font-weight: 900;
		  line-height: 1;
		}

		i {
			font-style: normal;
			font-size: 10px;
		  font-weight: 500;
		  line-height: 1;
		  padding-left: 3px;
		}
	}
}