<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500")
		title Clients empty state
	body
		.container
			header header
			.panel
				aside sidebar
				section.report
					.top-panel
						h1.report-heading CLIENTES
					.disclaimer.client-empty.
						Quando tiver assinantes volte aqui para acompanhar o seu crescimento.
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
		//- script(src="assets/js/jquery-ui.min.js")
		script(src="assets/js/main.js")