<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
		title Register
	body.blured(style="background: url('http://pipsum.com/2000x2000') no-repeat center / cover")
		.modal.step1.social-register#modal
			.modal-content
				.user-avatar
					img(src="http://pipsum.com/100x100", alt="")
				h1 Olá, Ana Bragança!
				p.
					Seu cadastro está quase completo. Responda estas perguntas abaixo e já poderá entrar.
				form(action="#" class="register-form")
					.main-part
						.input-field
							select#select(name="select")
								option(value="0" selected disabled) Você é um(a) fotógrafo(a) profissional?
								option(value="yes") Sim
								option(value="no") Não
					.second-part
						.two-column
							.input-field
								input(type="text" id="post" class="validate" required)
								label(for="post") CEP
							.input-field
								select#uf(name="uf" class="validate")
									option(value="0" selected disabled) UF
									option(value="mg") MG
									option(value="mg") MG
									option(value="mg") MG
						.input-field
							input(type="text" id="street" class="validate" required)
							label(for="street") Rua
						.two-column
							.input-field
								input(type="text" id="number" class="validate" required)
								label(for="number") Número
							.input-field
								input(type="password" id="number_additional" class="validate" required)
								label(for="number_additional") Complemento
						.two-column
							.input-field
								input(type="text" id="neighborhood" class="validate" required)
								label(for="neighborhood") Bairro
							.input-field
								input(type="password" id="city" class="validate" required)
								label(for="city") Cidade
					ul.form-steps
						li
						li
					.user-agreement
						input(type="checkbox" id="user-agreement")
						label(for="user-agreement") Eu li e aceito os <a href="#">Termos de Uso</a>.
					button(type="submit" class="btn waves-effect waves-light disabled") CADASTRAR
				button(type="button" class="step next-step waves-effect waves-light btn")
					i.material-icons arrow_forward
				button(type="button" class="step prev-step waves-effect waves-light btn")
					i.material-icons arrow_back
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
		script(src="assets/js/main.js")